<div class="signup-form">
    <form action="/checkPassword" role="form" method="post"><input type="hidden" name="_csrf" value="bf90c05f-79ed-48b7-be58-c57901f185d0">
        <h2>Login</h2>
        <div align="center" style="margin-top:10px">
            <img src="http://qa-app.exprs.com/images/exprs-logo-black.png" style="height: 36px;">
        </div>

        <div class="row" align="center">
            

            

        </div>
        <div class="form-group">
            <label style="font-family:verdana">Mobile Number</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="tel" name="contactNumber" autofocus="true" style="width: 290px" placeholder="Please enter a valid mobile number" data-validation-regexp="^(\+\d{1,3}[- ]?)?\d{12}$" data-validation="custom required" data-validation-error-msg="Please enter a valid contact number" minlength="10" maxlength="10" required="required">
        </div>
        <div class="form-group" align="center">
            <a href="/forgotpassword">forgot password?</a><br>
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </form>
</div>

<div class="container-fluid">

    <div class="footer" style="margin-left: 2ex;height: 10ex;"><br>
        <p style="float: center"> © 2019 Exprs Techno Logistics Pvt. Ltd.</p>
    </div>
</div>